# Auto detect text files and perform LF normalization
* text=auto
*.CSS linguist-detectable=true
*.sch linguist-detectable=true
search/index.html linguist-generated=true
search/style.cdd linguist-generated=true
